</div>


<!-- FOOTER -->
<section class="footer section container-fluid" id="connect">
  <div>
    <h2 class="footer-title">Reach Out!</h2>
    <p>Want to get an appointment or need consultancy? Reach Out!</p>
    <a href="mailto:bundela01100@gmail.com" class="fa fa-envelope" target="_blank"></a>
    <a href="https://www.facebook.com/sureyouday.bundela.7" class="fa fa-facebook" target="_blank"></a>
    <a href="https://www.instagram.com/sureyouday/" class="fa fa-instagram" target="_blank"></a>
    <p id="subtext">Made with <img class="heart" src="/images/heart.svg" alt=""> by the <a class="subtext"
        href="http://devwolf.in/">devWOLF</a></p>
  </div>
</section>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>