<%- include("partials/header"); -%>
<div class="covid-container">
  <div class="about">
    <div class="ptext">
      <span class="border">
        About
      </span>
    </div>
  </div>


  <section class="section section-light">
    <div class="container cont-last">

      <p>
        A known name for homeopathic treatments in the city is Dr. Bundelas The Homeopathy Clinic in Jhansi. Having
        studied
        in
        reputed institutes in the medical space, this practitioner has carved a niche in the field. With a personal
        drive
        to
        offer better services to the patients, the doctor makes a conscious effort at every step of the way. Dr.
        Bundela's
        The
        Homeopathy Clinic has consistently engaged in studies and discussion related to this field in particular, and by
        doing
        so has kept abreast with the latest inventions and progress made in this field of medicine. With every passing
        year,
        lifestyles change and because of this there is a need for more refined and accurate treatment. This medical
        professional aims at giving the patients ways by which they can improve their health status and heal from the
        health
        challenges they face.
      </p>
      <p>
        Dr. Bundelas The Homeopathy Clinic is known to treat a range of ailments. Some of illnesses and
        health
        concerns one can consult the doctor for are, Ulcers, Tonsillitis, Epilepsy, Lung Disease, Eczema, Infertility,
        Digestive Problems, Pimples, Hair Loss, Asthma, Osteoarthritis, Hyperacidity, Fissure, Corn Removal, Parkinson
        Disease, Psoriasis, Tinnitus, Peptic Ulcer, Gastroenteritis, Typhoid, Piles, Kidney Stone, Polycystic Ovarian
        Syndrome, etc. Many have reviewed the doctor's treatment to be highly effective.
      </p>
    </div>
  </section>

  <div class="covid-container">
    <div class="about2">
      <div class="ptext">
        <span class="border">
          Doctor's Message
        </span>
      </div>
    </div>

    <section class="section section-dark">
      <div class="container cont-last">
        <div class="covid-videos">
          <iframe width="100%" height="400" src="https://www.youtube.com/embed/M7u6BV4Mubw" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </section>
  </div>


  <%- include("partials/footer"); -%>