<%- include("partials/header"); -%>

<div class="about-container">

  <div class="about-heading">
    <h1>About</h1>
  </div>

  <div class="about-content">
    <p>
      A known name for homeopathic treatments in the city is Dr. Bundelas The Homeopathy Clinic in Jhansi. Having
      studied
      in
      reputed institutes in the medical space, this practitioner has carved a niche in the field. With a personal drive
      to
      offer better services to the patients, the doctor makes a conscious effort at every step of the way. Dr. Bundelas
      The
      Homeopathy Clinic has consistently engaged in studies and discussion related to this field in particular, and by
      doing
      so has kept abreast with the latest inventions and progress made in this field of medicine. With every passing
      year,
      lifestyles change and because of this there is a need for more refined and accurate treatment. This medical
      professional aims at giving the patients ways by which they can improve their health status and heal from the
      health
      challenges they face. The clinic is located in a prime area at Jhokan Bagh. One will find it fairly easy to spot
      the
      place as it stands In Front Of Christian Inter Collage Gate No. 2.
    </p>
    <p>
      Dr. Bundelas The Homeopathy Clinic at Jhokan Baghis known to treat a range of ailments. Some of illnesses and
      health
      concerns one can consult the doctor for are, Ulcers, Tonsillitis, Epilepsy, Lung Disease, Eczema, Infertility,
      Digestive Problems, Pimples, Hair Loss, Asthma, Osteoarthritis, Hyperacidity, Fissure, Corn Removal, Parkinson
      Disease, Psoriasis, Tinnitus, Peptic Ulcer, Gastroenteritis, Typhoid, Piles, Kidney Stone, Polycystic Ovarian
      Syndrome, etc. One can visit the doctor during the week, anytime from 10:30-17:30 - 14:30-20:30. Doctor's fees can
      be
      made in Cash. Many have reviewed the doctor's treatment to be highly effective.
    </p>
  </div>

</div>

<%- include("partials/footer"); -%>