<%- include("partials/header"); -%>


<div class="covid-container">
  <div class="ailments-top">
    <div class="ptext">
      <span class="border">
        Ailments
      </span>
    </div>
  </div>

  <section class="section section-dark">
    <div class="container cont-last">
      <p>
        Dr. Bundelas The Homoeopathy Clinic is known to treat a range of ailments. Some of illnesses and
        health
        concerns one can consult the doctor for are, Ulcers, Tonsillitis, Epilepsy, Lung Disease, Eczema, Infertility,
        Digestive Problems, Pimples, Hair Loss, Asthma, Osteoarthritis, Hyperacidity, Fissure, Corn Removal, Parkinson
        Disease, Psoriasis, Tinnitus, Peptic Ulcer, Gastroenteritis, Typhoid, Piles, Kidney Stone, Gallbladder Stone,
        Polycystic Ovarian
        Syndrome, etc. Many have reviewed the doctor's treatment to be highly effective.
      </p>
    </div>
  </section>
</div>

<%- include("partials/footer"); -%>