<%- include("partials/header"); -%>
<div class="container">
  <div class="contact-container">
    <div class="contact-heading">
      <h1>Contact</h1>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="contact-subheading">
          <h3>
            <p>Phone No.</p>
          </h3>
        </div>
        <div class="contact-content">
          +91 9415187520
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contact-subheading">
          <h3>
            Email
          </h3>
        </div>
        <div class="contact-content">
          <p>bundela01100@gmail.com</p>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
      <div class="col-lg-6">
        <div class="contact-subheading">
          <h3>Address</h3>
        </div>
        <div class="contact-subheading">
          Jail Crossing, Jhokan Bagh Road, Jhansi, Uttar Pradesh 284001
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contact-map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14411.067278534734!2d78.576463!3d25.4460582!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfdfb02126a2d7463!2sDr.%20Bundela&#39;s!5e0!3m2!1sen!2sin!4v1594804782925!5m2!1sen!2sin"
            width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
        </div>
      </div>
    </div>

  </div>


  <%- include("partials/footer"); -%>