<%- include("partials/header"); -%>

<div class="covid-container">
  <div class="pimg1">
    <div class="ptext">
      <span class="border">
        COVID 19
      </span>
    </div>
  </div>

  <section class="section section-light">
    <div class="container cont-last">
      <h2>
        Homeopathy For Covid-19
      </h2>
      <p>
        At any given time, prevention is better than cure when it comes to any disease. COVID-19 has spread across all
        countries around the world and has affected millions of lives. Scientists around the world are in a race against
        the
        time trying to develop a vaccine. So, while taking precautions for coronavirus, we can all work on boosting our
        immunity with the help of homeopathy. Homeopathic medicine for immunity helps boost your immune system from
        within
        and
        protect against infections like coronavirus
      </p>
    </div>

  </section>

  <div class="pimg2">
    <div class="ptext">
      <span class="border">
        IMMUNITY & DISEASES
      </span>
    </div>
  </div>

  <section class="section section-dark">
    <div class="container cont-last">
      <h2>
        RELATIONSHIP BETWEEN IMMUNITY AND DISEASES
      </h2>
      <p>
        Immunity and diseases are two sides of the same coin. The immune system is our body's defense against
        infections.
        It
        attacks germs and helps keep us healthy. If you have low immunity, you are prone to illnesses and infections.
        E.g.,
        though all children fall sick some time in their life, some are prone to infections more often than others. Have
        you
        wondered why? Why is your kid allergic to dust, while his classmates play all the outdoor games without any
        discomfort? Why is it that your child gets a frequent fever, while another barely misses school due to an
        illness?
        It’s the immune system that makes all the difference!
      </p>
    </div>

  </section>

  <div class="pimg3">
    <div class="ptext">
      <span class="border">
        SAVE YOURSELF
      </span>
    </div>
  </div>

  <section class="section section-light">
    <div class="container cont-last">
      <h2>
        WHAT IS THE BEST WAY TO SAVE YOURSELF FROM A PANDEMIC
      </h2>
      <p>
        There is no effective vaccine for COVID-19 so far. Researchers are testing some available drugs to see if they
        are
        effective against the virus. Therefore, the best things you can do right now to fight this pandemic is:
      <ul>
        <li>
          STAY home
        </li>
        <li>
          KEEP a safe distance
        </li>
        <li>
          WASH hands often
        </li>
        <li>
          COVER your cough
        </li>
      </ul>
      </p>
    </div>
  </section>

  <div class="pimg4">
    <div class="ptext">
      <span class="border">
        AYUSH MINISTRY
      </span>
    </div>
  </div>

  <section class="section section-dark">
    <div class="container cont-last">
      <h2>
        AYUSH Ministry recommends
      </h2>
      <p>
        According to the Ministry of AYUSH, the body’s natural defense system (immunity) plays an important role in
        maintaining optimum health and it is good to take preventive measures that boost your immunity to fight against
        coronavirus.
        AYUSH ministry is already working with state governments and their health departments by providing alternative
        medicines to boost the immune system of quarantined individuals and other people.
      </p>
    </div>
  </section>


  <div class="pimg5">
    <div class="ptext">
      <span class="border">
        WHO
      </span>
    </div>
  </div>

  <section class="section section-light">
    <div class="container cont-last">
      <div class="covid-videos">
        <iframe width="100%" height="400" src="https://www.youtube-nocookie.com/embed/1APwq1df6Mw" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </section>
</div>


<%- include("partials/footer"); -%>