<%- include("partials/header"); -%>

<div class="covid-container">
  <div class="hahnemann">
    <div class="ptext">
      <span class="border">
        Dr. Hahnemann
      </span>
    </div>
  </div>

  <section class="section section-light">
    <div class="container cont-last">
      <h1>
        Dr. Samuel Christian Frederic Hahnemann
        M.D.
      </h1>
      <p>
        Samuel Hahnemann was the founder of Homoeopathy. He established the fundamental principles of the science and
        art of
        Homoeopathy.

        He is called the Father of Experimental Pharmacology because he was the first physician to prepare medicines in
        a
        specialized way; proving them on healthy human beings, to determine how the medicines acted to cure diseases.
        Before
        Hahnemann, medicines were given on speculative indications, mainly on the basis of authority without
        experimental
        verification.
      </p>

      <p>
        Hahnemann discovered the remedial powers of drugs and inert substances such as gold, platinum, silica, vegetable
        charcoal, lycopodium, etc. By preparing the medicines through potentization, these inert and insoluble
        substances
        became soluble in alcohol or water and were charged with medicinal force.
      </p>

      <p>
        Dr. Hahnemann espoused the law of cure known as "Similia Similibus Curentur", or "Like Cures Like". This means
        that
        a
        remedy that produces symptoms in a healthy person will cure those same symptoms when manifested by a person in a
        diseased state. This law of cure has been verified by millions of homoeopaths all over the world since the time
        of
        Hahnemann.
      </p>

      <p>
        Hahnemann discovered the primary and secondary actions of remedies. The primary action results from the first
        encounter between the vital force and the external agent, and the secondary action is a result of the vital
        force's
        reaction to the symptoms of that primary encounter. This discovery led him to the curative powers of poisonous
        substances.
      </p>

      <p>
        Dr. Hahnemann described the different aspects of 'acute' and 'chronic' diseases. Acute diseases are transitory;
        they
        have a beginning and an end, whereas the chronic diseases are co-existent with life. Either they are present in
        a
        manifest or a latent state. From this work came the chronic miasms of Psora, Syphilis, and Sycosis.
      </p>

      <p>
        Dr. Hahnemann was the progenitor of several modern medical approaches. Deeming the treatment of insane patients
        to
        be
        cruel and harmful, he advised a humane treatment for the insane. He cured many insane patients with homeopathy,
        and
        became famous for this success.
      </p>

      <p>
        Dr. Hahnemann was quick to recognize poor hygiene as a contributory cause to the spread of disease. His success
        with
        cholera and typhoid fever was in part due to this recognition. Hahnemann also emphasized the importance of
        nursing,
        diet, bed rest, and isolation of patients during epidemic diseases. Hahnemann described 'Noxious' principles as
        the
        precursors of certain disease states.
      </p>

      <p>
        Hahnemann's three major publications illumine the development of homeopathy. In the Organon of Medicine (revised
        six
        times), we see the fundamentals laid out. Materia Medica Pura records the exact symptoms of the remedy provings.
        In
        his book, The Chronic Diseases, Their Peculiar Nature and Their Homoeopathic Cure, he showed us how the natural
        diseases become chronic in nature when suppressed by improper treatment.

        Dr. Hahnemann treated thousands of difficult and chronic cases that defied the best care from allopaths all over
        Europe. Thus, he became so famous that physicians from Europe and America came to him for coaching in the new
        science
        and art of healing, called Homoeopathy.
      </p>
    </div>
  </section>





  <%- include("partials/footer"); -%>