<%- include("partials/header"); -%>

<div class="covid-container">
  <div class="testimonials-header-img">
    <div class="ptext">
      <span class="border">
        Testimonials
      </span>
    </div>
  </div>

  <section class="section testimonials-header">
    <div class="container cont-last">
      <div class="card mb-3" style="">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/images/test1.jpeg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text">We have been consulting Dr. Bundela for around 7 years. We have got treatment for
                various
                ailments like Kidney Stones, Cold,Cough, Allergies, Tonsils etc and day by day our faith in Homoeopathy
                is
                increasing. He always give genuine advice and understands the problem deeply. We have recommended Dr.
                Bundela's
                Homoeopathy to many of our friends and all have positive experience. The staff at clinic is also very
                supportive.</p>
              <p class="card-text"><small class="text-muted">Mr. and Mrs. Roy</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <%- include("partials/footer"); -%>